<template>
  <div class="game">

    <player-name-modal @start="start" v-if="display_player_modal"/>

    <div>
      <score-box />
    </div>

    <div class="container">
      <div class="game_item">
        <screen 
          :grid_data="grid_data"
          :grid_count_width="grid_count_width"
          :grid_count_height="grid_count_height"
        />
      </div>
      <div class="player_list_item">
        <player-list />
      </div>
    </div>
  </div>
</template>

<script>

import { mapGetters, mapActions } from 'vuex'
import Screen from '@/components/elements/game/Screen.vue'
import ScoreBox from '@/components/elements/game/ScoreBox.vue'
import PlayerNameModal from '@/components/elements/game/PlayerNameModal.vue'
import PlayerList from '@/components/elements/game/PlayerList.vue'
import configuration from '@/configuration/server'


const DIRECTION = {
  'UP': 38,
  'DOWN': 40,
  'LEFT': 37,
  'RIGHT': 39,
}

export default {
  name: 'Game',
  components: {
    Screen,
    ScoreBox,
    PlayerNameModal,
    PlayerList,
  },
  data() {
    return {
      pressed_key: null,
      direction: null,

      started: false,
      user_name: '',

      display_player_modal: true,
    }
  },
  computed: {
    ...mapGetters({
      grid_data: 'game_store/screenGrid',
      websocket_connection: 'game_store/websocketConnection',
      grid_count_width: 'game_store/gridWidth',
      grid_count_height: 'game_store/gridHeight',
    })
  },
  mounted() {
    document.onkeydown = this.updateDirection
    this.createWebSocketConnection(configuration)
    this.openWsConnectionListner()
    this.websocketMessageListner()
  },
  methods: {
    ...mapActions({
      createWebSocketConnection: 'game_store/createWebSocketConnectionIfNotExists',
      sendWebsocketMessage: 'game_store/sendWebsocketMessage',
      openWsConnectionListner: 'game_store/openWsConnectionListner',
      websocketMessageListner: 'game_store/websocketMessageListner',
    }),
    start(user_name, user_color) {
      this.display_player_modal = false
      this.user_name = user_name
      this.user_color = user_color
      this.started = true
      console.log('Sending start_new_game_session event')
      this.sendWebsocketMessage({
        action: 'start_new_game_session',
        payload: {
          name: this.user_name,
          color_name: this.user_color,
        }
      })
    },
    updateDirection(event) {
      const {
        keyCode,
      } = event
      const is_direction_key = Object.values(DIRECTION).includes(keyCode)
      if (is_direction_key) {
        event.preventDefault()
      }
      if (is_direction_key && keyCode != this.direction) {
        this.direction = keyCode
      }
    },
  },
  watch: {
    direction() {
      this.pressed_key = Object.keys(DIRECTION)[Object.values(DIRECTION).indexOf(this.direction)]
      this.sendWebsocketMessage({
          action: 'control', 
          payload: {
            direction: this.direction
          }
        }
      )
    }
  }
}
</script>

<style scoped>
.game {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0px;
    border: 1px solid #ff0000;
}

.container {
  display: flex;
  align-items: stretch;
}

.game_item {
  border: 1px solid blue;
}

.player_list_item {
  border: 1px solid blue;
  flex-grow: 1;
}
</style>
