<template>
  <div>
    <h2>
        Player
    </h2>  

      <p>
        <label for="name">Name</label>
        <input
          id="name"
          v-model="name"
          type="text"
          name="name"
        >
      </p>
      <p>
        <color-selector
          v-model="color_name"
        />
      </p>

      <p>
        <button @click="submit">Start</button>
      </p>
  </div>
</template>

<script>

import ColorSelector from '@/components/elements/ColorSelector'

export default {
  name: 'PlayerNameModal',
  components: {
    ColorSelector,
  },
  data() {
    return {
      name: '',
      color_name: '',
    }
  },
  methods: {
    submit() {
      this.$emit('start', this.name, this.color_name)
    },
  },
  watch: {
  }
}
</script>
