<template>
  <div>
    <div class="player_list">
      <div 
        v-for="user in get_ordered_user_list"
        :key="user.id"
        class="user_line"
      >
        <div
          class="user_color_preview"
          :style="{
            'background-color': get_color_hex(user.color_name),
          }"
        >
        </div>
        
        <div class="user_name">
          ({{ user.score }}) {{ user.name }}
        </div>

      </div>
    </div>
    <div class="dead_player_list">
      <div v-for="user in get_dead_user_list" :key="user.id">
        {{ user.score }} - {{ user.name }}
      </div>
    </div>
  </div>
</template>

<script>

import { mapGetters } from 'vuex'

export default {
  name: 'PlayerList',
  computed: {
    ...mapGetters({
      user_list: 'game_store/getUserList',
      get_dead_user_list: 'game_store/getDeadUserList',
      get_color_hex: 'color_store/getColorHex',
    }),
    get_ordered_user_list() {
      const result = []
      this.user_list.forEach((item) => result.push(item))
      return result.sort((a, b) => {
        return b.score - a.score
      })
    },
  },
  data() {
    return {}
  },
}
</script>

<style scoped>

.user_line {
  display: flex;
  margin: 10px;
}

.user_name {
  margin-left: 5px;
}


.dead_player_list {
  color: #333;
}

.user_color_preview {
  width: 20px;
  height: 20px;
  border: 1px solid #333;
}
</style>
