<template>
  <div>
    <h2>
      {{ score }}
    </h2>
  </div>
</template>

<script>

import { mapGetters } from 'vuex'

export default {
  name: 'ScoreBox',
  computed: {
    ...mapGetters({
      score: 'game_store/getScore',
    })
  },
}
</script>
