<template>
  <div
    class="screen"
    :style="{ width: getScreenWidthPx() + 'px', height: getScreenHeightPx() + 'px', position: 'relative' }" >

    <div 
      class="cell"
      v-for="cell in grid_data" 
      :key="cell.x + '_' + cell.y + '_' + cell.type"
      :style="{
        left: getLeftPositionPx(cell.x) + 'px',
        top: getTopPositionPx(cell.y) + 'px',
        width: cell_size + 'px',
        height: cell_size + 'px',
        'background-color': getCellBackgroundColor(cell),
      }"
    ></div>
  </div>
</template>

<script>

import { player_color_list, game_cell_type } from '@/constants'
import { mapGetters } from 'vuex'

export default {
  name: 'Screen',
  props: {
    msg: String,
    grid_data: Array,
    grid_count_width: Number,
    grid_count_height: Number,
  },
  computed: {
    ...mapGetters({
      user_list: 'game_store/getUserList',
      get_color_hex: 'color_store/getColorHex',
    })
  },
  data: () => ({
      cell_size: 5,
      player_color_list: player_color_list,
      game_cell_type: game_cell_type,
  }),
  methods: {
    getLeftPositionPx(x) {
      return x * this.cell_size
    },
    getTopPositionPx(y) {
      return y * this.cell_size
    },
    getScreenWidthPx() {
      return this.grid_count_width * this.cell_size
    },
    getScreenHeightPx() {
      return  this.grid_count_height * this.cell_size
    },
    getCellBackgroundColor(cell) {
      const default_color = '#000'
      if (
        [
          this.game_cell_type.TYPE_PLAYER_BODY,
          this.game_cell_type.TYPE_PLAYER_HEAD,
        ].includes(cell.type)
      ) {
        const user = this.user_list.find((user) => user.id === cell.owner)
        return this.get_color_hex(user.color_name)
      }
      return default_color
    },
    getClassName(cell) {
      const default_class = ''
      const cell_type_class_mapper = {
        [this.game_cell_type.TYPE_PLAYER_BODY]: 'cell-body',
        [this.game_cell_type.TYPE_PLAYER_HEAD]: 'cell-head',
        [this.game_cell_type.TYPE_PLAYER_ITEM]: 'cell-item',
      }
      
      return cell.type 
        ? cell_type_class_mapper[cell.type]
          ? cell_type_class_mapper[cell.type]
          : default_class
        : default_class
    },
  },
}
</script>

<style scoped>

.screen {
  position: relative;
  border: 1px solid #cdcdcd;
}

.screen .cell {
  position: absolute;
}

.screen .cell-head {

}

.screen .cell-body {

}

.screen .cell-item {

}


</style>
