<template>
    <div class="main">
        <Game />
    </div>
</template>

<script>
import Game from '@/components/elements/game/Game.vue'

export default {
    name: 'GamePage',
    components: {
        Game,
    }
}
</script>
