
<template>
  <div class="main">
    <h2>HomePage</h2>
    <router-link :to="{ name: 'GamePage'}">GamePage</router-link>
  </div>
</template>

<script>

export default {
  name: 'HomePage',
}
</script>
