<template>
  <div class="selector">
    <div
      v-for="color in color_list"
      :key="color.name"
      @click="select(color)"
      class="item"
      :style="backgroundColor(color)"
    >
      <div 
        class="checked"
        v-if="color.selected"
      />
      
    </div>
  </div>
</template>

<script>

import { player_color_list } from '@/constants'

export default {
  name: 'ColorSelector',
  props: [
    'value'
  ],
  data: () => ({
    color: null,
    color_list: [],
  }),
  methods: {
    select(color) {
      this.color_list.forEach((item) => {
        item.selected = false
      })
      color.selected = true
      this.color = color
      this.$emit('input', this.color.name)
    },
    backgroundColor(color) {
      return `background-color: ${color.hex}`
    }
  },
  mounted() {
    this.color_list = player_color_list
      .map((color) => {
        return {
          ...color,
          selected: color.name === this.value ? true : false,
        }
      })
  }
}
</script>


<style>

.selector {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item {
  border: 1px solid grey;
  margin: 1px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.checked {
  width: 22px;
  height: 22px;
  margin: 3px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

</style>